*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    
}

.container{
    max-width: 1220px;
    /* height: 50vh; */
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
    background-color:antiquewhite;
    
    

}
.pt1{
    padding-top: 70px;
    padding-bottom:70px;
}
.left1{
    max-width:260px;
    padding-left: 35px;
    
    
}

.left1 img{
    width: 135px;
    height: 70px;
    
}
.left1 p{
    font-size: 17px;
    color: black;
    padding-top: 25px;
    padding-bottom: 40px;
}
.icons{
    display: flex;
    gap: 15px;
}
.display{
    display: flex;
    justify-content: space-between;
    

}


.box1{
    max-width: 136px;
    
}

.box2{
    max-width: 108px;
}
.box3{
    max-width: 220px;
}
.mb{
    margin-bottom: 20px;
}
.pt{
    padding-top: 37px;
}
.title{
    font-size: 18px;
    font-weight: 500;
    color: black;
    position: relative;
    padding-top: 8px;
    padding-left: 8px;
    
}
.title::after{
    content:"";
    position: absolute;
    background-color:white;
    width: 100%;
    height: 3px;
    left: 0;
    top: 0; 
}


.title::before{
    content:"";
    position: absolute;
    background-color: white;
    width: 3px;
    height: 100%;
    left: 0;
    top: 0; 
}
.title:hover{
    background-color: rgb(232, 18, 54);
    transition: 1s;
    cursor: pointer;

}
.links{
    font-size: 14px;
    color: black;
    text-wrap: nowrap;
    position: relative;
    padding: 2px;
    
}
 .links:hover{
    color: blue;
    transition: .5s;
}
  .links::after{
    content:"";
    position: absolute;
    background-color: blue;
    width: 100%;
    height: 2px;
    left: 0;
    top: 100%;
}


.right1{
    display: flex;
    margin-left: 20px;
    gap: 150px;
    padding-right: 35px;
    
    
}






@media (max-width:700px) {
    .right1{
        display: flex;
    
        gap: 75px;
    }        
}
@media (max-width:425px) {

    .display{
        display: flex;
        flex-direction: column;
        
    
    }
    .pt1{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .left1 p{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .right1{
        display: flex;
        gap:75px;
    }     
    .icons{
        display: flex;
        gap: 15px;
    }
    .mb{
        margin-bottom: 24px;
        
    }
    .pt{
        padding-top: 14px;

    }

}

