* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.container {
    max-width: 1300px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.bg-black{
    background-color:black;
    min-height: 100vh;
}
.header{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: green;
}
.header h1{
    color: white;
    font-size: 30px;
    
}
.header nav{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    /* background-color: aquamarine; */
}
